
<router-outlet></router-outlet>
<contact-form></contact-form>
<!-- <div *ngIf="courses.length > 0; then courseslist else nocourses"></div>
 <ng-template #nocourses>
  No Courses are present
</ng-template>
<ng-template #courseslist>
  Courses are present
</ng-template> -->

<!-- <div [hidden]="courses.length == 0">
  Courses are present
</div>
<div [hidden]="courses.length > 0" >
  No Courses are present
</div> -->

<!-- <ul class="nav nav-pills">
  <li [class.active]="viewmode == 'map'"><a (click)="viewmode = 'map'"></a></li>
  <li [class.active]="viewmode == 'list'"><a (click)="viewmode = 'list'"></a></li>
</ul>
<div [ngSwitch]="viewmode">
  <div *ngSwitchCase="'map'">map view content</div>
  <div *ngSwitchCase="'list'">list view content</div>
  <div *ngSwitchDefault>otherwise</div>
</div> -->

<!--- <ul>
  <li *ngFor="let m of Movies; index as i">
    {{i}}-{{m.name}}
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let m of Movies; even as isEven">
    {{m.name}}<span *ngIf="isEven">-Even</span>
  </li>
</ul> -->
<!-- <button (click)=onadd()>Add</button>
<ul>
  <li *ngFor="let m of Movies">
    {{m.name}} <button (click)="onremove(m)">remove</button>
    <div>{{m.id}} <button (click)="onchange(m)">change</button></div>
  </li>
</ul> -->

